{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Dario Santelli</title>
	<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">
	</head>
	<body>
		<div id = "navigation-bar" class="navigation-bar">
			<a href="#projects">Projects</a>
			<a href="#about-me">About Me</a>
		</div>
		

		
		<div class = "large-name">
			<p>Dario Santelli</p>
		</div>
		
		<div id = "projects" class = "project-container">
		
			<div id = "projects" class = "section-title">
				<h1>Projects</h1>
			</div>
			
			<div id = "project1" class = "project">
				<div id = "project1-left" class = "project-left">
					<img src = "{% static 'portfolio/images/project_test_image.PNG' %}" alt = "alternatetext" class = "image-resize">
				</div>
				
				<div id = "project1-right" class = "project-right">
					<div class = "project-right-grid">
					
						<div></div>
						
						<div>
						<h1> Meal Preparation Organizer Application</h1>
						</div>
						
						<div>
						<p>A lightweight console application to track meal preparation recipes</p>
						</div>
						
						<div>
							<p><a href="https://github.com/dariosantelli/MealPrepCLI" style = text-align: center;>Source Code</a></p>
						</div>
						
						<div></div>
						
					
						</div>
					
					</div>
				
				<button type="button" class="collapsible-button">See More</button>
				
				<div id = "project1-expanded-content" class="collapsible-content">
				  <p>- Easily view, add, and edit recipes using console text interface</p>
				  <p>- Uses custom text file format for data storage</p>
				  <p>- Written in C++</p>
				  
					
				</div>
			</div>
			
			<br>
			
			<div id = "project2" class = "project">

				<div id = "project2-left" class = "project-left">
					<img src = "{% static 'portfolio/images/stock_tracking.PNG' %}" alt = "alternatetext" class = "image-resize">
				</div>
				
				<div id = "project2-right" class = "project-right">
					<div class = "project-right-grid">
					
						<div></div>
						
						<div>
						<h1>Stock-Tracking Application</h1>
						</div>
						
						<div>
						<p>A GUI desktop application that tracks various stock attributes</p>
						</div>
						
						<div>
							<p><a href="https://github.com/dariosantelli/Stock-Tracking-App" style = text-align: center;>Source Code</a></p>
						</div>
						
						<div></div>
						
					
						</div>
					
					</div>
				
			
				<button type="button" class="collapsible-button">See More</button>
				<div class="collapsible-content">
				  <p>- View information about any stock ticker by adding up to six information tiles</p>
				  <p>- Access data from various timeframes</p>
				  <p>- Utilizes a real-time stock API to get the most up to date information</p>
				  <p>- Written in Java using the JavaFX GUI framework</p>
				</div>
				
				
			</div>
			
			<br>
			
			<div id = "project3" class = "project">
				
				<div id = "project3-left" class = "project-left">
					<img src = "{% static 'portfolio/images/budget_form.PNG' %}" alt = "alternatetext" class = "image-resize">
				</div>
				
				<div id = "project3-right" class = "project-right">
					<div class = "project-right-grid">
					
						<div></div>
						
						<div>
						<h1>Budget-Tracker Web Application</h1>
						</div>
						
						<div>
						<p>A small interface on my website that takes budget-related entries and stores them in a database</p>
						</div>
						
						<div>
							<p><a href="https://github.com/dariosantelli/Budget-Web-App" style = text-align: center;>Source Code</a></p>
						</div>
						
						<div></div>
						
					
						</div>
					
					</div>
				
			
				<button type="button" class="collapsible-button">See More</button>
				<div class="collapsible-content">
				  <p>- Enter an item name, price, and category and save it in a hosted database</p>
				  <p>- Uses AWS RDS, Python, and PostgreSQL</p>
				</div>
				
				
			</div>
			
			<br>
			
			<div id = "project4" class = "project">
				
				
				
				<div id = "project3-left" class = "project-left">
					<img src = "{% static 'portfolio/images/python-django-logo.PNG' %}" alt = "alternatetext" class = "image-resize">
				</div>
				
				<div id = "project3-right" class = "project-right">
					<div class = "project-right-grid">
					
						<div></div>
						
						<div>
						<h1>Portfolio Website</h1>
						</div>
						
						<div>
						<p>My personal website built with Django and hosted entirely on Amazon Web Services</p>
						</div>
						
						<div>
							<p><a href="https://github.com/dariosantelli/Portfolio-Website" style = text-align: center;>Source Code</a></p>
						</div>
						
						<div></div>
						
					
						</div>
					
					</div>
			
				<button type="button" class="collapsible-button">See More</button>
				<div class="collapsible-content">
				  <p>- Uses AWS Elastic Beanstalk and AWS Route 53 for hosting and DNS routing</p>
				  <p>- Written in Python, JavaScript, HTML, and CSS</p>
				</div>
				
				
			</div>
			
		</div>
		
		<br>
		<br>
		
				
		<div id = "about-me" class = "about-me-container">
		
			
		
			<div class = "about-me-text">
				<div class = "about-me-grid">
				
					<div id = "about-me-title" class = "section-title">
						<h1>About Me</h1>
					</div>
				
				
					<p>
						*Graduated as an electrical engineer from RPI in 2019 <br>
						*Became interested in learning software engineering <br>
						*Taken the time to learn and complete projects <br>
						*Ready for my first software engineering job <br>
					</p>
					
					<p></p>
				</div>
			</div>
			
			<div class = "about-me-right">
				<img src = "{% static 'portfolio/images/profile.jpg' %}" alt = "alternatetext" class = "about-me-image">
			</div>
			
		</div>
		
		<div class = "symbols-container">
		
			<div id = "resume" class = "symbol1">
				<a href="https://www.dropbox.com/s/79uhpx3223hvgl4/DSResume_10-4-2020.pdf?dl=0"><img src = "{% static 'portfolio/images/resume_symbol.jpg' %}" alt = "alternatetext" class = "symbol-sizing"></a>
			</div>
		
			<div class = "symbol2">
				<a href="https://github.com/dariosantelli" class="button"><img src = "{% static 'portfolio/images/github_symbol.webp' %}" alt = "alternatetext" class = "symbol-sizing"></a>
			</div>
			
			<div class = "symbol3">
				<a href="https://www.linkedin.com/in/dariosantelli/" class="button"><img src = "{% static 'portfolio/images/linkedin_symbol.png' %}" alt = "alternatetext" class = "symbol-sizing"></a>
			</div>
		</div>
		

		
	<script>
	var coll = document.getElementsByClassName("collapsible-button");
	var i;

	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.maxHeight){
		  content.style.maxHeight = null;
		} else {
		  content.style.maxHeight = content.scrollHeight + "px";
		}
	  });
	}
	</script>
	</body>