{% load static %}
<head>
	<title>Dario Santelli</title>
	<link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
	</head>
	<body>
		<div class="navigation-bar">
			<a href="#home">Projects</a>
			<a href="#news">Work Experience</a>
			<a href="#contact">Contact</a>
		</div>
		
		<div class="large-name">
			<p>Dario Santelli</p>
		</div>
		<div class="vertical-align">
			<h1>Dario Santelli</h1>
			<div style="text-align:center">
				<a href="https://github.com/dariosantelli" class="button">GitHub</a>
			</div>
			<div style="text-align:center">
				<a href="https://www.dropbox.com/s/79uhpx3223hvgl4/DSResume_10-4-2020.pdf?dl=0" class="button">Resume</a>
			</div>
			<div style="text-align:center">
				<a href="https://www.linkedin.com/in/dariosantelli/" class="button">LinkedIn</a>
			</div>
		</div>
	</body>